.nav{
    height: 50px;
    width: 100%;
    background-color: Black;
    display: flex;
    align-items: baseline;
    h2{
        margin-top: 0px;
        margin-left: 15px;
        color: white;
    }
}
.nav-links{
    width: 80%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    color: white;
}

.navLink{
    color: white;
    text-decoration: none;
}